In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# combine all df
df1 = pd.read_csv("result GREATEC.csv", parse_dates = True)
df2 = pd.read_csv("result UWC.csv", parse_dates = True)
df3 = pd.read_csv("result D&O.csv", parse_dates = True)
df4 = pd.read_csv("result GENETEC.csv", parse_dates = True)
df5 = pd.read_csv("result UNISEM.csv", parse_dates = True)
df6 = pd.read_csv("result FRONTKN.csv", parse_dates = True)
df7 = pd.read_csv("result ATAIMS.csv", parse_dates = True)

df9 = pd.read_csv("result FPI.csv", parse_dates = True)
df10 = pd.read_csv("result PENTA.csv", parse_dates = True)
df11 = pd.read_csv("result DUFU.csv", parse_dates = True)
df12 = pd.read_csv("result VS.csv", parse_dates = True)
df13 = pd.read_csv("result SKPRES.csv", parse_dates = True)
df14 = pd.read_csv("result MPI.csv", parse_dates = True)
df15 = pd.read_csv("result VITROX.csv", parse_dates = True)

# Merging all df
df_all = pd.concat([df1, df2, df3, df4, df5, df6, df7, df9, df10, df11, df12, df13, df14, df15], axis=0)

In [3]:
# sorting all values by dates
df_all = df_all.sort_values(by="Buy_Date")

In [4]:
# setting Dates as index
df_all.set_index('Buy_Date', inplace=True)
df_all

             Buy  Sell   Sell_Date  Pct_change  wr    Stock
Buy_Date
1994-09-07  4.58  4.46  1995-01-03   -2.620087   0      MPI
1994-09-27  4.72  4.46  1995-01-03   -5.508475   0      MPI
1994-09-30  4.80  4.46  1995-01-03   -7.083333   0      MPI
1994-09-30  2.64  2.25  1994-12-22  -14.772727   0   ATAIMS
1994-10-04  2.66  2.25  1994-12-22  -15.413534   0   ATAIMS
...          ...   ...         ...         ...  ..      ...
2021-01-11  6.22  7.40  2021-01-19   18.971061   1   UNISEM
2021-01-11  4.70  5.94  2021-01-20   26.382979   1      UWC
2021-01-11  5.01  5.70  2021-01-14   13.772455   1    PENTA
2021-01-12  2.27  2.80  2021-01-18   23.348018   1      FPI
2021-01-26  2.22  4.35  2021-02-08   95.945946   1  GENETEC

[1329 rows x 6 columns]

In [5]:
#Strategy Analysis

In [6]:
df_all["wr"].value_counts().mea

AttributeError: 'Series' object has no attribute 'mea'

In [ ]:
total_winpct=round(840/(840+489)*100,3)

In [ ]:
print(" Total win percentage is: {} %".format(total_winpct))

In [ ]:

# SHARPE RATIO
str_return = df_all["Pct_change"].mean()
rf_rate = 0
volatility = df_all["Pct_change"].std()
print("Sharpe ratio of this strategy is: {}".format((str_return-rf_rate)/volatility))